# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\devroot\webpages\mamaz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
